<!doctype html>
{% load static %}
<html lang="pt-br">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/Ajustes.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/Icone.ico' %}">
    <title>{% block title %}Basquete{% endblock %}</title>
</head>

<body>


    <!-- Navbar - COMEÇO -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark">
        <a class="navbar-brand" href="{% url 'principal' %}">
            <img src="{% static 'img/Bola.png' %}" width="35" height="35" class="d-inline-block align-top">
            BASQUETEBOL
        </a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'origem' %}">Origem</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="{% url 'regras' %}">Regras</a>
                </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown">
                    Posts
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'post_draft_list' %}">Esboços</a>
                    <a class="dropdown-item" href="{% url 'post_new' %}">Add post</a>
                    <a class="dropdown-item" href="{% url 'post_list' %}">Posts list</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown">
                    Campeonatos
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'campeonatosFIBA' %}">FIBA</a>
                    <a class="dropdown-item" href="{% url 'campeonatosNBA' %}">NBA</a>
                </div>
            </li>
        </ul>
        <ul class="nav navbar-nav ml-auto">
            <a href="{% url 'login' %}" class="btn btn-outline-light">Entrar</a>
        </ul>
    </nav>
    <!-- Navbar - FIM -->

    <div class="padrao">
        <div class="page_header">
            {% block page_header %}
            {% endblock %}
        </div>
        <div class="page">
            {% block content %}
            {% endblock %}
            <div class="page_footer">
                {% block page_footer %}
                {% endblock %}
            </div>
        </div>
    </div>

    <!-- Rodapé - COMEÇO -->
    <div class="rodape">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h5>Sobre mim:</h5>
                    Sou aluno do Instituto Federal Catarinense,
                    câmpus Araquari.
                    <br>
                    Cursando Bacharelado
                    em Sistemas de Informação, atualmente
                    no quarto semestre. <br>
                    Projeto desenvolvido na disciplina de Desenvolvimento Web 2.
                </div>
                <div class="col-sm">
                    <h5>Informações de contato:</h5>
                    Email: patrickrieger019@gmail.com
                </div>
                <div class="col-sm">
                    <h5>Links:</h5>
                    <a href="https://github.com/patrick-rieger/web2" target="_blank">
                        <img src="{% static 'img/github.png' %}" alt='github.png' title="GitHub" width="50px"></a>
                    <!-- <a href="https://www.linkedin.com/in/patrick-vianna-rieger" target="_blank">
                        <img src="{% static 'img/Linkedin.png' %}" alt='Linkedin.png' title="Linkedin" width="50px"></a> -->
                    <br>
                    Hospedado para teste com:
                    <a href="https://www.pythonanywhere.com/" target="_blank">pythonanywhere</a>.
                    <br>
                    Obrigado por visitar ^^
                    <br>
                    © 2019
                </div>
            </div>
        </div>
        <br>
        <div class="float-right">
            <div class="letra">Site Desenvolvido por: Patrick Vianna Rieger</div>
        </div><br><br>
    </div>
    <!-- Rodapé - FIM -->

</body>

<footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script>
        $(window).scroll(function () {
            $('nav').toggleClass('scrolled', $(this).scrollTop() > 50);
            // $('div').toggleClass('scrolled', $(this).scrollTop() > 30);
        });
    </script>

</footer>

</html>