{% extends 'app/base.html' %}

{% block content %}
<div class="mx-auto" style="width: 30rem;">
    <form method="POST" class="post-form">
        {% csrf_token %}
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">New post:</h5>
            </div>
            <div class="card-body">
                {{ form.as_p }}
            </div>
            <div class="card-footer text-muted">
                <button type="submit" class="btn btn-outline-dark btn-block">SAVE</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}